@{
    Layout = null;
    ViewBag.Title = "Configurações";
    var nomeCliente = Context.Session.GetString("NomeCliente") ?? "Usuário";
    var userId = Context.Session.GetInt32("UserId") ?? 0;
   
}
<script>
    const userId = @Context.Session.GetInt32("UserId") ?? 0;
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<link rel="stylesheet" href="~/css/config.css" />
<script src="~/js/Principal.js"></script>

<div id="duascoisas">
    <div id="parte_azul">
        <div id="icone_menu">
            <i class="fa-solid fa-bars" id="centros"></i>
        </div>

        <a href="@Url.Action("Principal", "Home")">
            <div id="portabranca">
                <i class="fa-solid fa-building" id="centro"></i>
            </div>
        </a>
    </div>

    <div id="pula">
        <div id="texto_config">
            <div></div>
            <div><p id="colorsss" data-i18n="configuracoes">Configurações</p></div>
            <div></div>
        </div>

        <div id="duascoisa">

            <div id="tres_grid">

                <div id="dois_grid">
                    <i class="fa-solid fa-user-circle" id="perfil"></i>
                    <div id="tres">
                        <div>
                            <div><span id="colors">@nomeCliente</span></div>
                            <div>
                                <i class="fa-solid fa-minus" id="linha"></i>
                            </div>
                            <div>
                                <span id="colors" data-i18n="ConfiguraçõesDatavault">Configurações DataVault</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="pesquisa">
                    <form action="@Url.Action("Index", "Configuracoes")" method="post">
                        <div id="lupa">
                            <i class="fa-solid fa-magnifying-glass" id="lupinha"></i>
                            <input type="search" name="Procura" id="input_procurar" placeholder="Pesquise aqui">
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div id="tresgrids">

            <div id="setegrids">
                <div><button id="circular" onclick="mudarZIndexCust()" data-i18n="customizacao">Customização</button></div>
                <div><button id="circular" data-i18n="conta">Conta</button></div>
                <div><button id="circular" data-i18n="arquivos">Arquivos</button></div>
                <div><button id="circular" data-i18n="configuracoesCliente">Configurações do Cliente</button></div>
                <div><button id="circular" data-i18n="favoritos">Favoritos</button></div>
                <div><button id="circular" data-i18n="brilhoSite">Brilho do Site</button></div>
                <div><button id="circular" onclick="mudarZIndex()" data-i18n="feedback">Feedback</button></div>
            </div>

            <div id="seisgrid">
                <div id="feedback">

                    <div id="dois_div">
                        <div id="desceai"><p id="aumenteAA" data-i18n="feedbackTexto">Nos dê seu feedback!</p></div>
                        <div id="vaiaa">
                            <i class="fa-regular fa-face-smile" id="feliz"></i>
                        </div>
                    </div>

                    <div>
                        <form asp-controller="Feedback" asp-action="Criar" method="post" class="formatacao-form">
                            @Html.AntiForgeryToken()

                            <!-- Supondo que você tenha o Id do usuário logado na sessão ou ViewBag -->
                            <input type="hidden" name="IdUsuario" value="@userId" />

                            <textarea name="Mensagem" id="textarea_id" required placeholder="Deixe sua mensagem!"></textarea>

                            <div id="tres_svg">
                                <div><i class="fa-regular fa-face-laugh-beam" id="feliz2"></i></div>
                                <div><i class="fa-regular fa-face-meh" id="meh"></i></div>
                                <div><i class="fa-regular fa-face-frown" id="triste"></i></div>
                            </div>

                            <div id="tres_radio">
                                <div><input type="radio" name="SelecionarNivel" value="bom" required></div>
                                <div><input type="radio" name="SelecionarNivel" value="ok" required></div>
                                <div><input type="radio" name="SelecionarNivel" value="ruim" required></div>
                            </div>

                            <button type="submit" id="botao_enviar" data-i18n="feedbackTexto">Enviar</button>
                        </form>
                    </div>

                </div>

                <div id="Customizacao">
                    <div id="bordar">
                        <h2 id="esquerda" data-i18n="recomendadas">Configurações Recomendadas</h2>
                        <h5 id="esquerdas" data-i18n="recentes">Recentes e tópicos comuns</h5>
                    </div>

                    <div id="bordar_lingua">
                        <p id="esq" data-i18n="idioma">Língua: Português (Brasil)</p>
                        <i class="fa-solid fa-angle-right" id="seta"></i>
                        <input type='checkbox' id='check'>
                        <div id="dropdown-click">
                            <li id="li_inicial"><p data-i18n="trocar_lingua">Trocar Língua</p></li>
                            <li id="liii" onclick="traduzirIdioma('pt')"><p id="oiiii" data-i18n="portugues">Português (Brasil)</p></li>
                            <li id="liii" onclick="traduzirIdioma('en')"><p id="oiiii" data-i18n="ingles">Inglês</p></li>
                            <li id="liii" onclick="traduzirIdioma('es')"><p id="oiiii" data-i18n="espanhol">Espanhol</p></li>
                            <li id="liii" onclick="traduzirIdioma('fr')"><p id="oiiii" data-i18n="frances">Francês</p></li>
                            <li id="liii" onclick="traduzirIdioma('al')"><p id="oiiii" data-i18n="alemao">Alemão</p></li>
                        </div>
                    </div>

                    <div id="bordar_Fonte">
                        <input type="checkbox" id="checkar">
                        <div id="lista_fonte">
                            <li id="li_inicial"><p data-i18n="Trocar_Fonte">Trocar Fonte</p></li>
                            <li id="liii"><p id="oiiii" data-i18n="Montserrat">Montserrat</p></li>
                            <li id="liii"><p id="oiiii" data-i18n="Helvetica">Helvetica</p></li>
                            <li id="liii"><p id="oiiii" data-i18n="Arial">Arial</p></li>
                            <li id="liii"><p id="oiiii" data-i18n="Times">Times New Roman</p></li>
                            <li id="liii"><p id="oiiii" data-i18n="Futura">Futura</p></li>
                        </div>
                        <p id="esq" data-i18n="fonte">Fonte: Montserrat(26)</p>
                        <i class="fa-solid fa-angle-right" id="seta"></i>
                    </div>

                    <div id="bordar_modo">
                        <input type="checkbox" id="check_modo">
                        <p id="esq" data-i18n="modo">Site modo: (Modo Light)</p>
                        <i class="fa-solid fa-angle-right" id="seta"></i>
                        <div id="modo_claro">
                            <div><i class="fa-solid fa-sun" id="solzinho"></i></div>
                            <div><p data-i18n="Modo_Claro">Modo Claro</p></div>
                            <div><button onclick="ativarmodoclaro()">Ativar</button></div>
                        </div>

                        <div id="modo_escuro">
                            <div id="organizar_escuro_1"><i class="fa-solid fa-moon" id="luazinha"></i></div>
                            <div id="organizar_escuro_2"><p data-i18n="modo_escuro">Modo Escuro</p></div>
                            <div id="organizar_escuro_3"><button onclick="ativarmodoescuro()">Ativar</button></div>
                        </div>
                    </div>

                    <div id="bordar" onclick="window.location.href='/Home/EsqueciSenha'">
                        <p id="esq" data-i18n="senha">Mudar senha</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>